<section class="banner-area section-gap" [@scrollAnimation]="state" id="about">	
  <div class="container">
    <div class="row cloud-bg">
      <div class="col-6">
        <img src="../../assets/images/about.jpg">
      </div>
      <div class="col-4">
        <h4 class="for-h4">Về chúng tôi</h4>
        <p class="about-content">
        Bạn muốn học hỏi? Bạn muốn nghiên cứu? Bạn muốn một sản phẩm điện tử cho riêng mình?
        Hãy đến với chúng tôi. Chúng tôi là <span><img src="../../assets/images/IPS-LOGO-NOBG.png" width="30" height="30"></span>
        <a href="https://www.facebook.com/HOTRODOANIT"> Fanpage</a>
      </p>
      </div>
      <div class="row">
        <img src="../../assets/images/About-Us-2.jpg">
      </div>
    </div>
  </div>
</section>