<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <head>
        <!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="../img/IPS/favicon.ico">
		<!-- Author Meta -->
		<meta name="author" content="">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>IT Project Solution</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        <!--
        CSS
        ============================================= -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.19/angular-material.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.css">
        <link rel="stylesheet" href="../../css/angular_login.css">
        <link rel="stylesheet" href="css/menu.css">
        <link rel="stylesheet" href="css/menubar.css">
        <link rel="stylesheet" href="css/stylesTable.css">
        <link rel="stylesheet" href="css/paginator.css">

        <link rel="stylesheet" href="../../css/linearicons.css">
        <link rel="stylesheet" href="../../css/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/magnific-popup.css">
        <link rel="stylesheet" href="../../css/nice-select.css">					
        <link rel="stylesheet" href="../../css/animate.min.css">
        <link rel="stylesheet" href="../../css/owl.carousel.css">
        <link rel="stylesheet" href="../../css/main.css">

        
        
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.19/angular-material.min.js"></script>

        <!-- Other JS need include before angular -->
        <script data-require="jquery@*" data-semver="2.2.4" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="../../js/vendor/bootstrap.min.js"></script>			
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="../../../js/easing.min.js"></script>			
        <script src="../../js/hoverIntent.js"></script>
        <script src="../../js/superfish.min.js"></script>	
        <script src="../../../js/jquery.ajaxchimp.min.js"></script>
        <script src="../../js/jquery.magnific-popup.min.js"></script>	
        <script src="../../js/owl.carousel.min.js"></script>			
        <script src="../../js/jquery.sticky.js"></script>
        <script src="../../js/jquery.nice-select.min.js"></script>			
        <script src="../../js/parallax.min.js"></script>		
        <script src="../../js/mail-script.js"></script>	
        <script src="../../js/main.js"></script>	

        <!-- Application -->
        <script type='text/javascript' src="script/app.js"></script>
        <script type='text/javascript' src="modules/login/controllers.js"></script>
        <script type='text/javascript' src="modules/login/services.js"></script>
        <script type='text/javascript' src="modules/signup/controllers.js"></script>
        <script type='text/javascript' src="modules/signup/services.js"></script>
        <script type='text/javascript' src="modules/dashboard/controllers.js"></script>
        <script type='text/javascript' src="modules/add_product/controllers.js"></script>
        <script type='text/javascript' src="modules/add_product/services.js"></script>
        <script type='text/javascript' src="modules/product_info/controllers.js"></script>
        <script type='text/javascript' src="modules/product_info/services.js"></script>
        <script type='text/javascript' src="modules/modify_product/controllers.js"></script>
        <script type='text/javascript' src="modules/modify_product/services.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/aes.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="js/angular-recaptcha.min.js"></script>

    </head>
    <body ng-app="IPSApp" ng-controller="IPSController">
        <header id="header" id="home" ng-if="isHide == false">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a href="index.html"><img src="../img/IPS/IPS-LOGO-NOBG.png" width="40" height="40" alt="" title="" /></a>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                        <li class="menu-active"><a href="/index.html#home">Home</a></li>
                        <li><a href="/index.html#offer">Dịch Vụ</a></li>
                        <li><a href="/index.html#about">Giới Thiệu</a></li>
                        <li><a href="/index.html#project">Project</a></li>
                        <li><a href="/index.html#price">Price</a></li>
<!-- 				          <li><a href="#blog">Blog</a></li> -->
                        <li class="menu-has-children"><a href="">Tài Khoản</a>
                            <ul>
                                <li ng-if="globals.currentUser != null"><a href="/app/index.html#!/dashboard">Dashboard</a></li>
                                <li ng-if="globals.currentUser == null"><a href="/app/index.html#!/login">Đăng Nhập</a></li>
                                <li ng-if="globals.currentUser != null"><a href="/app/index.html#!/login">Đăng Xuất</a></li>
                            </ul>
                        </li>
                        </ul>
                    </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>
        </header><!-- #header -->

        <div ng-controller="IPSController as ctrl" ng-cloak ng-style="swtStyle" ng-if="isHide == true">
            <md-content class="md-padding" md-theme="docs-dark">
                <md-nav-bar
                md-selected-nav-item="currentNavItem"
                nav-bar-aria-label="navigation links">
                <md-switch ng-model="cb1" aria-label="Switch 1"  ng-change="onChange(cb1)" class="switch-item">
                        Menu
                </md-switch>
                <span flex></span>
                <!-- <md-nav-item md-nav-click="" name="page1">
                </md-nav-item> -->
                <md-menu-bar>
                    <md-menu>
                        <md-button class="md-primary md-hue-1" aria-label="Open menu" ng-click="$mdMenu.open($event)">
                            {{globals.currentUser.email}}
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item ng-repeat="org in ctrl.account">
                                <md-menu class="nested-menu">
                                    <md-button class="md-primary md-hue-1" ng-click="ctrl.onClick(org.action)">{{ org.action }}</md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item ng-repeat="each_action in org.list_action">
                                            <md-button class="md-primary md-hue-1" ng-click="ctrl.onClick(each_action.name)">{{ each_action.name }}</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
                </md-menu-content>
                <!-- <md-nav-item md-nav-click="goto('login')" name="page3">
                    Đăng xuất
                </md-nav-item> -->
                <div class="">
                </div>
            </md-content>
        </div>

        
        <div ng-style="swtStyle">
            <div ng-view ></div>
        </div>
        
        
        <div layout="column" style="height: 1800px;" ng-cloak ng-if="isHide == true">
            <section layout="row" flex>
                <md-sidenav class="md-sidenav-left" md-component-id="left"
                            md-whiteframe="4" md-theme="docs-dark"
                            > 
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 style="color:bisque">IT Project Solution</h2>
                        <img src="images/IPS/favicon.ico" width="50" height="50">
                    </div>
                </md-toolbar>
                <md-content >
                    <md-button style="width: 100%;" class="md-primary md-raised menuBtn md-hue-2" href="/app/index.html#!/product_info/1">Tất Cả Sản Phẩm</md-button>
                    <md-button style="width: 100%;" class="md-primary md-raised menuBtn md-hue-2" href="/app/index.html#!/add_product">Thêm Sản Phẩm</md-button>
                    <md-button style="width: 100%;" class="md-primary md-raised menuBtn md-hue-3" ng-click="closenav()">Đóng Menu</md-button>
                </md-content>
                </md-sidenav>
            </section>
        </div>

    </body>
</html>