<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <head>
        <!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="../img/IPS/favicon.ico">
		<!-- Author Meta -->
		<meta name="author" content="">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>IT Project Solution</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        <!--
        CSS
        ============================================= -->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/angular_login.css">

        <link rel="stylesheet" href="../../css/linearicons.css">
        <link rel="stylesheet" href="../../css/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/magnific-popup.css">
        <link rel="stylesheet" href="../../css/nice-select.css">					
        <link rel="stylesheet" href="../../css/animate.min.css">
        <link rel="stylesheet" href="../../css/owl.carousel.css">
        <link rel="stylesheet" href="../../css/main.css">

        
        
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.js"></script>

        <!-- Other JS need include before angular -->
        <script data-require="jquery@*" data-semver="2.2.4" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="../../js/vendor/bootstrap.min.js"></script>			
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="../../../js/easing.min.js"></script>			
        <script src="../../js/hoverIntent.js"></script>
        <script src="../../js/superfish.min.js"></script>	
        <script src="../../../js/jquery.ajaxchimp.min.js"></script>
        <script src="../../js/jquery.magnific-popup.min.js"></script>	
        <script src="../../js/owl.carousel.min.js"></script>			
        <script src="../../js/jquery.sticky.js"></script>
        <script src="../../js/jquery.nice-select.min.js"></script>			
        <script src="../../js/parallax.min.js"></script>		
        <script src="../../js/mail-script.js"></script>	
        <script src="../../js/main.js"></script>	

        <!-- Application -->
        <script type='text/javascript' src="script/app.js"></script>
        <script type='text/javascript' src="modules/login/controllers.js"></script>
        <script type='text/javascript' src="modules/login/services.js"></script>
        <script type='text/javascript' src="modules/signup/controllers.js"></script>
        <script type='text/javascript' src="modules/signup/services.js"></script>
        <script type='text/javascript' src="modules/dashboard/controllers.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/aes.min.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="js/angular-recaptcha.min.js"></script>

    </head>
    <body ng-app="IPSApp" ng-controller="IPSController">
        <header id="header" id="home" ng-if="isHide == false">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a href="index.html"><img src="../img/IPS/IPS-LOGO-NOBG.png" width="40" height="40" alt="" title="" /></a>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                        <li class="menu-active"><a href="/index.html#home">Home</a></li>
                        <li><a href="/index.html#offer">Dịch Vụ</a></li>
                        <li><a href="/index.html#about">Giới Thiệu</a></li>
                        <li><a href="/index.html#project">Project</a></li>
                        <li><a href="/index.html#price">Price</a></li>
<!-- 				          <li><a href="#blog">Blog</a></li> -->
                        <li class="menu-has-children"><a href="">Tài Khoản</a>
                            <ul>
                                <li ng-if="globals.currentUser == null"><a href="/app/index.html#!/login">Đăng Nhập</a></li>
                                <li ng-if="globals.currentUser != null"><a href="/app/index.html#!/login">Đăng Xuất</a></li>
                            </ul>
                        </li>
                        </ul>
                    </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>
        </header><!-- #header -->

        <ng-view></ng-view>

    </body>
</html>