<section class="banner-area section-gap" [@scrollAnimation]="state" id="product">	
    <h1 class="for-h">Sản phẩm </h1>
    <!-- <div class="container"> -->
      <div class="row">
          <div class="col-sm-7 col-md-7">
              <img src="../../assets/images/product.jpg">
            </div>
            <div class="col-sm-2 col-md-2">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </div>
              <!-- <ngx-masonry-gallery [width]='250' [images]='images'></ngx-masonry-gallery> -->
      </div>
    <!-- </div> -->
</section>